$content-padding-sm: 10px;
$content-padding-md: 24px;
$content-padding-lg: 60px;

$max-content-width: 1540px;

$header-height: 100px;

$color-text: #FFFFFF;
$color-hover: rgb(61, 61, 61);

$background-main: #15151e;
$background-semi-transparent: rgba(21, 10, 1, 0.2);
$color-border-header: rgba(152, 147, 147, 0.2);